<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Page</title>

    {% include './global/stylesheets.html' %}
</head>

<body class="bg-light">

    {% include './global/header.html' %}

    <div class="jumbotron" style="display: flex; flex-direction: column; align-items: center;">
        <h1 class="display-4" id="name"></h1>
        <p class="lead" id="amount"></p>
    </div>

    {% include './global/scripts.html' %} {% include './global/footer.html' %}

    <script>
        $(async() => {
            try {
                const response = await fetch(`{{data["proxyUrl"]}}:5002/bank/user/${sessionStorage.getItem('userId').slice(1,-1)}`)
                const data = await response.json()

                document.getElementById("name").innerText = "Hi, " + data.user[0].username
                document.getElementById("amount").innerText = "Current available miles: " + data.user[0].points


            } catch (e) {
                console.log(e)
            }
        })
    </script>
</body>

</html>